@import "~src/styles/variables";
@import "~src/styles/mixin";

input[type="file"]{
    display:none;
}

.labelfile{
    cursor:pointer;
    @include button;
    padding: 5px;
}

.imagen{
    align-items: center;
    img{
        display: none;
        width: calc(145.5 / 671.5 * 100%);
    }
}

.flex{
    display: flex;
    justify-content: space-between;
}
.formulario{
    width: 60%;
    border-style: none;
}

.imgpc img{
    height: 180px;
}


.datos{
    div{
        margin: 10px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

select, input{
    height: 2em;
    width: 50%;
}


.submitbutton{
    display: flex;
    margin: 20px 10%;
    justify-content: flex-end;
    button{
        @include button;
        padding: 8px 15px;
        font-weight: bold;
    }
}

@media screen and (max-width: 502px){
    .datos {
        div{
            display: block;
        }
    }

    select, input{
        width: 100%;
    }

    .datos .imagen{
        display: flex;
    }
}

@media screen and (max-width: 768px){
    .formulario{
        width: inherit;
    }
    
    .imgpc{
        display: none;
    }

    .imagen img{
        display: block;
    }
}

