header, .navheader{
    margin-left: 0;
}

.navheader{
    background-color: #C79140;
    height: 45px;
    
    ul{
        list-style: none;
        vertical-align: top;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        list-style: none;
        align-items: center;
        li{
            padding: 9.5px 0.5%;
            list-style-type: none;
            transition-property: background-color;
            transition-duration: 2s;
            a{
                color: white;
                font-size: 1.4em;
                display: block;
                text-decoration: none;
            }           
        }
        .searchbar{
            width: 25%;
            padding: 0;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            form {
                display: flex;
                button{
                    border: none;
                    background: none;
                    color: white;
                    fa-icon{
                        font-size: 1.5em;
                    }
                }
                input{
                    height: 28px;
                    width: 99%;
                    border-radius: 5px;
                    border-style: none;
                }
            }
        }
        li:hover{
            background-color: #AF7D31 ; 
        }
    }
}