<h1>Nuevo Usuario</h1>

<form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
    <fieldset>
    <div class="username">
        <label for="username">Usuario: </label>
        <input type="text" name="username" id="username" formControlName="username">
    </div>
    <p class="usuario error" *ngIf="error">Este usuario ya existe.</p>
    <div class="password">
        <label for="password">Contraseña: </label>
        <input type="password" name="password" id="password" formControlName="password">
    </div>
    <div class="password">
        <label for="password">Repetir Contraseña: </label>
        <input type="password" (keyup)="checkpasswd()" name="password2" id="password2" formControlName="password2">
    </div>
    <p class="password error" *ngIf="passwordNotEqual">Las contraseñas no coinciden.</p>
    </fieldset>
    <hr>
    <fieldset>
        <legend><h2>Datos Personales</h2></legend>
    <div>
        <label for="name">Nombre: </label>
        <input type="text" name="name" id="name" formControlName="name">
    </div>
    <div>
        <label for="lastname">Apellidos: </label>
        <input type="text" name="lastname" id="lastname" formControlName="lastname">
    </div>
    <div>
        <label for="fechanac">Fecha de Nacimiento: </label>
        <input type="date" name="fechanac" id="fechanac" formControlName="fechanac">
    </div>
    </fieldset>
    <div class="flexdiv">
        <button [disabled]="!registroForm.valid">Registrarse</button>
    </div>
</form>