<form [formGroup]="selector">
    <input type="radio" name="option" id="timeline" value="timeline" formControlName="option"><label for="timeline">Recetas de tus seguidores</label>
    <input type="radio" name="option" id="all" value="all" formControlName="option"><label for="all">Ver todo</label>
</form>

<ul>
    <li *ngIf="emptylist">
        <div><p>Aqui se mostrarán tus recetas y las de aquellos a quienes sigas, puedes escribir una nueva receta pulsando en Nueva Receta</p></div>
    </li>
    <app-receta-entry *ngFor="let receta of recetaList | paginate:{
        itemsPerPage: pageSize,
        currentPage: pageNo,
        totalItems: totalItems
    }" [receta]="receta"></app-receta-entry>
    
</ul>

<pagination-controls (pageChange)="loadList($event)"></pagination-controls>