<p>new-recipe works!</p>

<form [formGroup]="recetaForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="titulo">Titulo de la receta:</label>
        <input type="text" name="titulo" id="titulo" formControlName="titulo" formControlName="titulo">
    </div>
    <div>
        <label for="categoria">Categoria: </label>
        <select name="categoria" id="categoria" formControlName="categoria">
            <option value="{{categoria}}" *ngFor="let categoria of listaCat">{{categoria}}</option><!--Usar una pipe para que se vea la primera letra en mayuscula-->
        </select>
        <br>
        <label for="imagen">Imagen: </label>
        <input type="file" name="imagen" id="imagen" formControlName="img" (change)="upload($event)">

        <br>
        <label for="contenido">Escriba su receta aquí:</label>
        <br>
        
        <editor formControlName="contenido" apiKey="8m7vlf169o8vd6ffcykgu477vjzplye6t02plfzw2s693tz2" [init]="{ 
            plugins: 'lists link image table code help wordcount lists autoresize', 
            image_file_types:'jpg jpeg png',
            toolbar:'undo redo | styles | bold italic | outdent indent | numlist bullist',
            menubar:'edit insert table help'
            }">
            
        </editor>

        <button type="submit">Subir receta</button>
    </div>


</form>