@import "~src/styles/mixin";
@import "~src/styles/variables";

.headcomentario{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.divboton{
    display: flex;
    justify-content: flex-end;
    button{
        @include button;
        @include botonespanel;
        background-color: $botonborrar;
    }
}